/* ベース設定 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 2rem;
}

/* フォーム全体 */
form {
    background-color: #ffffff;
    padding: 2rem 2.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    width: 600px;
}

fieldset {
    padding: 1rem;
    border-radius: 10px;
}

/* 見出し */
legend {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
}

/* 入力欄全体 */
form div {
    margin-bottom: 1.2rem;
}

/* ラベル付きインプット */
input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}
textarea {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.submit-button-container {
    display: flex;
    justify-content: center;
}
button {
    width: 30%;
    background-color: #007bff;
    color: white;
    padding: 0.6rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #0056b3;
}

a {
    display: block;
    margin-top: 1rem;
    text-align: center;
    color: #007bff;
    text-decoration: none;
    font-size: 0.95rem;
}

a:hover {
    text-decoration: underline;
}
